.u-txt-ttl2{
    font-size: 50px;
    text-align: center;
}

.list-item{
    $col3width: 100%/3;
    width: $col3width; 
}

.item-inner{
    border: solid 1px black;  
        img{
           width: 100%; 
           border: solid 1px black;
        }
}

.news-list{
    display: flex;
}

.kv{
    text-align: center;
}